<a href="https://colab.research.google.com/github/FGalvao77/Python-Basics/blob/main/02_Estruturas_avan%C3%A7adas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 01 - Listas e Tuplas**

## **Listas**
Listas são coleções de objetos em Python. Ao invés de declarar 1 variável para cada valor que gostaríamos de armazenar, podemos criar uma lista para armazenar vários valores.

In [2]:
# criando uma lista vazia
listaVazia = []

In [3]:
# imprimido o tipo do objeto criado
type(listaVazia)

list

In [4]:
# imprimindo a lista
listaVazia # não nenhum item na lista

[]

In [5]:
# criando uma lista com alguns valores e imprimindo-a
numeros = [1, 3, 7, 8, 9]
print(numeros, type(numeros))

[1, 3, 7, 8, 9] <class 'list'>

In [6]:
# listas podem mesclar diferentes tipos de valores
listaMista = [14, "let's code", 0.1, True]
listaMista

[14, "let's code", 0.1, True]

In [7]:
# acessamos cada elemento da lista através de um índice entre colchetes
# os índices começam em 0
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

1
3
7
8
9

In [8]:
# também podemos acessar mais de um item
print(numeros[2], numeros[4])

7 9

In [9]:
# listas são mutáveis: podemos alterar o valor de seus itens
print('valor antes:', numeros[2])

numeros[2] = 5
print('valor depois:', numeros[2])

valor antes: 7
valor depois: 5

In [10]:
# um jeito inteligente de trabalhar com listas é utilizando loops
indice = 0
while indice < 5:
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

## **Atividade prática (vídeo-aula)**

In [11]:
# declarando uma lista
nome_paises = ['Brasil', 'Alemanha', 
               'China', 'Canadá',
               'Japão', 'EUA']

In [12]:
# imprimindo os elementos da variável
print(nome_paises)

['Brasil', 'Alemanha', 'China', 'Canadá', 'Japão', 'EUA']

In [13]:
# quantidade de elementos na lista
# para isso utilizamos a função "len()"
print(f'Quantidade de elementos na lista: {len(nome_paises)}')

Quantidade de elementos na lista: 6

In [14]:
# imprimindo o país Japão
print(f'País: {nome_paises[4]}')

País: Japão

In [15]:
# acessando o último elemento da lista
# utilizando índice negativo
print(f'País: {nome_paises[-1]}')

País: EUA

In [16]:
# sobrescrevendo um item da lista
nome_paises[0] = 'Espanha' # trocando no índice 0 - Brasil por Espanha

In [17]:
# imprimindo a lista atualizada
nome_paises

['Espanha', 'Alemanha', 'China', 'Canadá', 'Japão', 'EUA']

In [18]:
# se você tentar acessar um elemento de índice maior que o seu limite
# você terá uma mensagem de erro
nome_paises[6]

IndexError: ignored

In [19]:
# slicing - fatiamento de uma lista
# acessando os elementos 
print(nome_paises[2:4]) # do segundo índice até o quarto (exclusivo)

['China', 'Canadá']

In [20]:
# podemos realizar um slicing também com índice negativo
nome_paises[2:-1] # do segundo índice até o menos último

['China', 'Canadá', 'Japão']

In [21]:
# podemos também inverter a ordem dos elementos 
# da lista de trás pra frente
nome_paises[::-1]

['EUA', 'Japão', 'Canadá', 'China', 'Alemanha', 'Espanha']

In [22]:
# podemos omitir o índice final do fatiamento
nome_paises[2:] # entende que queremos até o último índice

['China', 'Canadá', 'Japão', 'EUA']

In [23]:
# também podemos omitir o índice inicial
# entende que, queremos ir do índice 0 até o índice instanciado
nome_paises[:-2]

['Espanha', 'Alemanha', 'China', 'Canadá']

In [24]:
# podemos omitir tanto o índice incial e final
# o seu retorno é todos os elementos da lista
nome_paises[:]

['Espanha', 'Alemanha', 'China', 'Canadá', 'Japão', 'EUA']

In [25]:
# podemos também acessar um elemento pelo índice
# e realizar um slice no elemento acessado
nome_paises[0][:3]

'Esp'

In [26]:
# segue outro exemlpo
nome_paises[-2][3:]

'ão'

In [27]:
# vamos acessar o último elemento, utilizando índide negativo 
# e realizando o fatiamento de trás pra frente do elemento
nome_paises[-1][::-1]

'AUE'

In [28]:
print(nome_paises[2])
print(nome_paises[2][::-1])
print(nome_paises[2][0::-1])
print(nome_paises[2][1::-1])
print(nome_paises[2][2::-1])
print(nome_paises[2][3::-1])
print(nome_paises[2][4::-1])
print(nome_paises[2][0])
print(nome_paises[2][1])
print(nome_paises[2][2])
print(nome_paises[2][3])
print(nome_paises[2][4])

China
anihC
C
hC
ihC
nihC
anihC
C
h
i
n
a

In [29]:
print(nome_paises[2][0])
print(nome_paises[2][0:2])
print(nome_paises[2][0:3])
print(nome_paises[2][0:4])
print(nome_paises[2][0:])

C
Ch
Chi
Chin
China

In [30]:
print(nome_paises[2][0])
print(nome_paises[2][0:2])
print(nome_paises[2][0:3])
print(nome_paises[2][0:4])
print(nome_paises[2][0:])
print(nome_paises[2][0:4])
print(nome_paises[2][0:3])
print(nome_paises[2][0:2])
print(nome_paises[2][0])

C
Ch
Chi
Chin
China
Chin
Chi
Ch
C

In [31]:
print(nome_paises[2][0] * 3)
print(nome_paises[2][0:2] * 3)
print(nome_paises[2][0:3] * 3)
print(nome_paises[2][0:4] * 3)
print(nome_paises[2][0:] * 3)
print(nome_paises[2][0:4] * 3)
print(nome_paises[2][0:3] * 3)
print(nome_paises[2][0:2] * 3)
print(nome_paises[2][0] * 3)

CCC
ChChCh
ChiChiChi
ChinChinChin
ChinaChinaChina
ChinChinChin
ChiChiChi
ChChCh
CCC

In [32]:
# podemos passar como argumento um passo e os elementos que será acessados
nome_paises[::2] # do índice 0 de dois em dois

['Espanha', 'China', 'Japão']

In [33]:
nome_paises[1::3]  # do índice 1 de três em três

['Alemanha', 'Japão']

In [34]:
# podemos procurar se um elemento pertence a lista
# pra isso, utilizamos a função "in"
print('Espanha' in nome_paises) # o seu retorno é um resultado booleano

True

In [35]:
# outro exemplo
print('Brasil' in nome_paises) # falso

False

In [36]:
# também podemos utilizar operador lógico de negação
print('Canadá' not in nome_paises) # Canadá não está em nome_paises? falso
                                   # Canadá pertende sim a lista nome_paises

False

In [37]:
# criando uma lista vazia
lista_capitais = []

# imprimindo a quantidade de elementos da lista criada e a própria lista
print(len(lista_capitais), lista_capitais)

0 []

In [38]:
# inserindo elemento na lista "lista_capitais"
# utilizamos o método ".append(' ')" e passando o elemento desejado entre aspas como argumento dentro do parênteses"
lista_capitais.append('São Paulo')

# imprimindo a  atualizada
lista_capitais

['São Paulo']

In [39]:
# inserindo outros elementos na lista
lista_capitais.append('Rio de Janeiro')

In [40]:
# imprimindo a lista
lista_capitais

['São Paulo', 'Rio de Janeiro']

In [41]:
# perceba que, todo elemento é inserido no final da lista
lista_capitais.append('Belo Horizonte')
lista_capitais

['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']

In [42]:
# mas se quiser inserir um elemento em uma posição específica
# utilizamos o método ".insert(x, 'aaa')", passando com argumento o número da posição e o elemento
lista_capitais.insert(2, 'Recife')
lista_capitais

['São Paulo', 'Rio de Janeiro', 'Recife', 'Belo Horizonte']

In [43]:
# outro exemplo
lista_capitais.insert(0, 'Curitiba')
lista_capitais

['Curitiba', 'São Paulo', 'Rio de Janeiro', 'Recife', 'Belo Horizonte']

In [44]:
# podemos ordenar os elementos da lista
sorted(lista_capitais)

['Belo Horizonte', 'Curitiba', 'Recife', 'Rio de Janeiro', 'São Paulo']

In [45]:
# podemos deletar um elemento da lista
# utilizamos o método ".remove()"
lista_capitais.remove('São Paulo')
lista_capitais

['Curitiba', 'Rio de Janeiro', 'Recife', 'Belo Horizonte']

In [46]:
# também temos o método ".pop()" que remove um elemento passando sua posição
lista_capitais.pop(1)
lista_capitais

['Curitiba', 'Recife', 'Belo Horizonte']

In [47]:
# outro exemplo
item_removido = lista_capitais.pop(0)
print(lista_capitais, item_removido)

['Recife', 'Belo Horizonte'] Curitiba

In [48]:
# podemos limpar toda lista
# com o método ".clear()"
lista_capitais.clear()
lista_capitais

[]

**Conhecendo mais sobre listas**

In [49]:
lista = []
print(type (lista))

lista = input('Digite uma fruta: ')

print(list (lista))
print(type (lista))

<class 'list'>
Digite uma fruta: maçã
['m', 'a', 'ç', 'ã']
<class 'str'>

In [50]:
lista = []
print(type (lista))

lista = input('Digite uma fruta: ')

for fruta in lista:
    print(list (lista))

print(type (lista))

<class 'list'>
Digite uma fruta: banana
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'a', 'n', 'a', 'n', 'a']
['b', 'a', 'n', 'a', 'n', 'a']
<class 'str'>

In [51]:
lista = []
print(type (lista))

lista = input('Digite uma fruta: ')
for fruta in lista:
    print(str (lista))

print(type (lista))

<class 'list'>
Digite uma fruta: uva
uva
uva
uva
<class 'str'>

In [54]:
lista = []
print(type (lista))

lista = input('Digite uma fruta: ')

for fruta in lista:
    print(tuple (lista))

print(type (lista))

<class 'list'>
Digite uma fruta: abacaxi
('a', 'b', 'a', 'c', 'a', 'x', 'i')
('a', 'b', 'a', 'c', 'a', 'x', 'i')
('a', 'b', 'a', 'c', 'a', 'x', 'i')
('a', 'b', 'a', 'c', 'a', 'x', 'i')
('a', 'b', 'a', 'c', 'a', 'x', 'i')
('a', 'b', 'a', 'c', 'a', 'x', 'i')
('a', 'b', 'a', 'c', 'a', 'x', 'i')
<class 'str'>

In [55]:
lista = []
print(type (lista))

lista = input('Digite uma fruta: ')

for fruta in lista:
    print(bool (lista))

print(type (lista))

<class 'list'>
Digite uma fruta: uva
True
True
True
<class 'str'>

## **Funções de listas**

Algumas funções podem nos ajudar a trabalhar com listas. Ao percorrermos nossa lista com um while, poderíamos usar len() caso não soubéssemos o comprimento da lista.

In [56]:
indice = 0
while indice < len(numeros):
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

Outra função útil é lista.append(), que coloca um elemento novo ao final da lista.

In [59]:
animais = []
resposta = 's'

while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if resposta == 's' or resposta == 'S':
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
        
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: gato
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: cão
Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: papagaio
Deseja adicionar um animal à lista (s/n)? n
['gato', 'cão', 'papagaio']

A função lista.remove() deleta um elemento da lista. (mas dá erro se o elemento não existir).

In [60]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: papagaio
['gato', 'cão']

Algumas outras funções úteis:

- lista.count() conta quantas vezes um elemento aparece.

In [61]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')

print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

- lista.index() busca em um elemento e fala em qual posição ele aparece.

In [62]:
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

- lista.sort() ordena uma lista.

In [63]:
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

jogadores em ordem alfabética:  ['Adriano', 'Rivaldo', 'Ronaldo', 'Ronaldo']

- as funções max(lista) e min(lista) obtém, respectivamente, o maior e o menor valor.

In [64]:
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]

maior = max(digitos)
menor = min(digitos)

print(digitos)
print("Maior = ", maior, "e menor = ", menor)

[3, 1, 4, 1, 5, 9, 2, 6, 5]
Maior =  9 e menor =  1

## **Atividade prática (vídeo-aula)**

In [65]:
idades = [44, 40, 21, 14]

In [66]:
print(sum(idades)) # soma das idades
print(max(idades)) # idade máxima
print(min(idades)) # idade mínima
print(sum(idades) / len(idades)) # valor médio das idades

119
44
14
29.75

In [67]:
indice = 0

while indice < len(idades):
    print(idades[indice])
    indice = indice + 1

44
40
21
14

In [68]:
lista_convidados = [] # instanciando uma lista vazia

resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um nome a lista de convidados (S/n)?: ')

    if resposta == 's' or resposta == 'S':
        nome = input('Digite o nome do convidado: ')
        lista_convidados.append(nome) # adiciona novo nome à lista

print(f'\nLISTA DE CONVIDADOS: \n\t{sorted(lista_convidados)}')

Deseja adicionar um nome a lista de convidados (S/n)?: s
Digite o nome do convidado: fernando
Deseja adicionar um nome a lista de convidados (S/n)?: s
Digite o nome do convidado: katia
Deseja adicionar um nome a lista de convidados (S/n)?: s
Digite o nome do convidado: sara
Deseja adicionar um nome a lista de convidados (S/n)?: s
Digite o nome do convidado: eloah
Deseja adicionar um nome a lista de convidados (S/n)?: n

LISTA DE CONVIDADOS:
	['eloah', 'fernando', 'katia', 'sara']

In [69]:
lista_convidados = [] # instanciando uma lista vazia

resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um nome a lista de convidados (S/n)?: ')

    if resposta == 's' or resposta == 'S':
        nome = input('Digite o nome do convidado: ')
        lista_convidados.append(nome) # adiciona novo nome à lista
    
print('\nLISTA DE CONVIDADOS:')

indice = 0
while indice < len(lista_convidados):
    print(f'\t{lista_convidados[indice]}')
    indice = indice + 1

Deseja adicionar um nome a lista de convidados (S/n)?: s
Digite o nome do convidado: fernando
Deseja adicionar um nome a lista de convidados (S/n)?: s
Digite o nome do convidado: katia
Deseja adicionar um nome a lista de convidados (S/n)?: n

LISTA DE CONVIDADOS:
	fernando
	katia

## **Tuplas**

Uma tupla é uma coleção de objetos que lembra muito as listas.

Ao invés de colchetes, usamos parênteses para declarar as tuplas:

numeros = (1,2,3,5,7,11)

Podemos declarar sem parênteses também:

        numeros = 1,2,3,5,7,11

In [ ]:
# Instanciando um objeto chamado "numeros" e imprimindo-o seu tipo
numeros = 1,2,3,5,7,11
type(numeros)

tuple

In [ ]:
# Para acessar um valor, utilizamos a mesma sintaxe das listas
print(numeros[4])

7

In [ ]:
'''
Porém, tuplas são imutáveis: não é possível adicionar ou modificar valores.
Ao tentar realizar uma atualização e/ou uma nova atribuição algum index da tupla, você terá uma mensagem de erro.

Descomente o código e execute-o:
'''
# numeros[4] = 8

'\nPorém, tuplas são imutáveis: não é possível adicionar ou modificar valores.\nAo tentar realizar uma atualização e/ou uma nova atribuição algum index da tupla, você terá uma mensagem de erro.\n\nDescomente o código e execute-o:\n'

In [ ]:
# Podemos gerar uma tupla a partir de uma lista...
lista1 = [3, 1, 4, 1, 5, 9, 2, 6, 5]
print(type(lista1))

tupla1 = tuple(lista1)
print(type(tupla1))

print(tupla1)

<class 'list'>
<class 'tuple'>
(3, 1, 4, 1, 5, 9, 2, 6, 5)

In [ ]:
# ...ou uma lista a partir de uma tupla:
tupla2 = 1, 6, 1, 8
print(type(tupla2))

lista2 = list(tupla2)
print(type(lista2))

print(lista2)

<class 'tuple'>
<class 'list'>
[1, 6, 1, 8]

In [ ]:
# Também pode-se usar o unpacking com uma tupla:
print(numeros)

a, b, c, d, e, f = numeros # "desempacota" a tupla numeros
print("O primeiro vale:", a, "e o ultimo vale:", f)

(1, 2, 3, 5, 7, 11)
O primeiro vale: 1 e o ultimo vale: 11

## **Atividade prática (vídeo-aula)**

In [ ]:
# instanciando uma tupla
estados_BR = ('São Paulo', 'Minas Gerais', 'Paraná')
print(estados_BR, type(estados_BR)) # imprimindo os elementos e o tipo de objeto

('São Paulo', 'Minas Gerais', 'Paraná') <class 'tuple'>

In [ ]:
# podemos também instanciar uma tupla sem parênteses
paises_eropeu = 'Portugal', 'Itália', 'França', 'Holanda'
print(paises_eropeu, type(paises_eropeu))

('Portugal', 'Itália', 'França', 'Holanda') <class 'tuple'>

In [ ]:
# declarando uma tupla com um elemento
marca_carro = 'Audi',
print(marca_carro, type(marca_carro))

('Audi',) <class 'tuple'>

In [ ]:
# também podemos utilizar a função "len()" para contar os elementos presentes em uma tupla
print(len(estados_BR))
print(len(paises_eropeu))
print(len(marca_carro))

3
4
1

In [ ]:
# podemos acessar um elemento da tupla através do índice
print(estados_BR[1])
print(paises_eropeu[0])
print(marca_carro[:])

Minas Gerais
Portugal
('Audi',)

In [ ]:
# conseguimos declarar uma tupla se nenhum valor
# pórem quando consultamos com a função "len()" ele retorna que tem um elemnto neutro
valor_pago = '',
print(valor_pago, len(valor_pago), type(valor_pago))

('',) 1 <class 'tuple'>

In [ ]:
# na tupla temos uma função exclusiva que não há na lista
# a função chamada "unpacking"
# declarando uma tupla
linguagens_programacao = 'Python', 'SQL', 'R', 'Ruby', 'Kotlin', 'Groovy', 'Java', 'C', 'C++', 'C#', 'Prolog', 'Lisp'

# imprimindo os elementos da tupla e quantidade de elementos presentes
print(linguagens_programacao)
print(len(linguagens_programacao))

# utilizando a função unpacking
a, b, c, d, e, f, g, h, i, j, l, m = linguagens_programacao
print(a, b, c, d, e, f, g, h, i, j, l, m)

('Python', 'SQL', 'R', 'Ruby', 'Kotlin', 'Groovy', 'Java', 'C', 'C++', 'C#', 'Prolog', 'Lisp')
12
Python SQL R Ruby Kotlin Groovy Java C C++ C# Prolog Lisp

In [ ]:
# podemos desempacotar uma tupla utilizando o asterisco (*) na frente do nome da variável
print(*linguagens_programacao)

Python SQL R Ruby Kotlin Groovy Java C C++ C# Prolog Lisp

# **Aula 02 - Strings I**

## **Funções de strings**

In [ ]:
# Suponhamos que temos a seguinte string:

frase = 'uma FRASE'
frase

'uma FRASE'

In [ ]:
# Podemos acessar individualmente cada caractere em uma frase.
# A ideia é a mesma de acessar uma lista:
print(frase[0])
print(frase[1])
print(frase[2])

u
m
a

In [ ]:
# Podemos também realizar a contagem de caracteres presentes na variável
tamanho = len(frase)
print("A frase possui", tamanho, "caracteres")

A frase possui 9 caracteres

In [ ]:
# Porém, strings são imutáveis: não podemos alterar caracteres individuais
# A linha abaixo, se for descomentada, dará erro no programa:
# frase[4] = 'C'

In [ ]:
# Podemos converter strings para listas:
print(type(frase))

listaFrase = list(frase)
print(listaFrase)
print(type(listaFrase))

<class 'str'>
['u', 'm', 'a', ' ', 'F', 'R', 'A', 'S', 'E']
<class 'list'>

In [ ]:
# A função join() intercala cada elemento de uma lista com uma string.
stringFinal = '-py'.join(listaFrase)
print(stringFinal)

u-pym-pya-py -pyF-pyR-pyA-pyS-pyE

In [ ]:
# Usar um join() com uma string vazia é útil para transformar a lista de volta
# em string:
stringFinal = ''.join(listaFrase)
print(stringFinal)

uma FRASE

In [ ]:
# Existem algumas funções interessantes que retornam a string "tratada":
s1 = frase.capitalize() # 1a letra maiúscula, restante minúscula
s2 = frase.title() # todo início de palavra em maiúscula, resto minúscula
s3 = frase.upper() # string inteira em maiúscula
s4 = frase.lower() # string inteira em minúscula
s5 = frase.replace('F', 'C') # substitui a primeira substring pela segunda

In [ ]:
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

Uma frase
Uma Frase
UMA FRASE
uma frase
uma CRASE

In [ ]:
# Note que NENHUMA delas ALTERA a string original, elas sempre retornam
# a string nova.
print('String original:', frase)

String original: uma FRASE

In [ ]:
# Outra possibilidade com strings é quebrar a string em uma lista de substrings
# Sempre que o caractere especificado é encontrado, a string é quebrada
quebra1 = frase.split(' ') # quebra a frase no caractere espaço em branco
quebra2 = s3.split('A') # quebra a frase em maiúsculas no caractere 'A'

In [ ]:
print(quebra1)
print(quebra2)

['uma', 'FRASE']
['UM', ' FR', 'SE']

In [ ]:
# Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)

uma
FRASE

In [ ]:
# Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)

uma
	FRASE

In [ ]:
# Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'
print(frase)

uma\FRASE

Clique no link abaixo para acessar a documentação de Strings do Python 3.
- https://docs.python.org/3.8/library/stdtypes.html#str

## **Atividade prática (vídeo-aula)**

In [ ]:
# podemos instanciar uma string tanto utlizando aspas simples ou com aspas duplas
curso = 'Ciência de Dados'
linguagem = "Python"

print(curso)
print(linguagem)

Ciência de Dados
Python

In [ ]:
# veja outro exemplo na utilização de aspas na atribuição de uma variável do tipo string
nome = 'Fernando'
print(nome, type(nome))

Fernando <class 'str'>

In [ ]:
# declarando uma variável quando há uma aspa no próprio elemento atribuído a variável
learning = 'I'm learning Python'
print(learning)

SyntaxError: SyntaxError: invalid syntax (<ipython-input-231-325bbd449533>, line 2)

Perceba que, temos um alerta de erro:

        SyntaxError: invalid syntax

In [ ]:
# para resolver este problema devemos usar as aspas duplas 
# entre o elemento e/ou a frase que estamos atribuindo a variável
learning = "I'm learning Python"
print(learning)

I'm learning Python

In [ ]:
# e quando queremos dentro de uma variável atribuir um texto é uma citação
# para isso, devemos utilizar a contabarra (\) um caracter de escape

# exemplo
frase = "Assim disse o poeta: \"Viver é melhor que sonhar!\""
print(frase)

Assim disse o poeta: "Viver é melhor que sonhar!"

In [ ]:
# como em lista e tupla, podemos utilizar o fatiamento de uma string
empresa = 'GOOGLE'

print(empresa[0])
print(empresa[:3])
print(empresa[3:])
print(empresa[2:4])
print(empresa[::2])
print(empresa[:-1])
print(empresa[::-1])
print(empresa[:][:3])

G
GOO
GLE
OG
GOL
GOOGL
ELGOOG
GOO

In [ ]:
# instanciando três elementos do tipo string na variável "empresas"
empresas = 'IBM, DELL, ACER'

print(empresas)
print(type(empresas))
print(len(empresas))

IBM, DELL, ACER
<class 'str'>
15

In [ ]:
# com o método ".split()" podemos separar os elementos de uma variável
lista_empresas = empresas.split(', ')

print(lista_empresas)
print(type(lista_empresas))
print(len(lista_empresas))

['IBM', 'DELL', 'ACER']
<class 'list'>
3

In [ ]:
# acessando o elemento do índice 1 e todos os seus caracteres
print(lista_empresas[1][:])

DELL

In [ ]:
# acessando o último elemento e seus caracteres de trás pra frente
print(lista_empresas[-1][::-1])

RECA

In [ ]:
# instanciando uma variável com sequências de caracteres (strings)
nomes = 'Fernando, Kátia, Sara, Eloah'
print(type(nomes))

# outro exemplo de utilização do método ".split()"
lista_nomes = nomes.split(',')
print(type(lista_nomes))    # tipo de dado 
print(sorted(lista_nomes))  # ordenando os elementos

<class 'str'>
<class 'list'>
[' Eloah', ' Kátia', ' Sara', 'Fernando']

In [ ]:
# removendo espaços de uma string
# para isso utilizamos o método ".strip()"

# exemplo
cabecalho = '          MENU PRINCIPAL          '
print(len(cabecalho))
print(cabecalho)

34
          MENU PRINCIPAL

In [ ]:
# removendo espaços com uso do método ".strip()"
removendo_espacos = cabecalho.strip()
print(removendo_espacos)
print(len(removendo_espacos))

MENU PRINCIPAL
14

In [ ]:
# conhecendo alguns métddos para tratar formatação de string
cidade = 'rIO dE JAnEirO'

print(cidade.title())       # Rio De Janeiro
print(cidade.capitalize())  # Rio De Janeiro
print(cidade.lower())       # rio de janeiro
print(cidade.upper())       # RIO DE JANEIRO

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [ ]:
# aplicando os métodos para tratar string via entrada do usuário
nome_cidade = input("Qual cidade é conhecida como \"Cidade Maravilhosa\": ")

nome_cidade = nome_cidade.strip()
while nome_cidade.lower() != 'rio de janeiro':
    print('\nTenta de novo!')
    nome_cidade = input("\nQual cidade é conhecida como \"Cidade Maravilhosa\": ")

print('\n\tAcertoooouuu!')

Qual cidade é conhecida como "Cidade Maravilhosa":  rio de janeiro

	Acertoooouuu!

In [ ]:
# instanciando uma cadeia de caracteres na variável "texto"
texto  = 'Python é uma linguagem muito poderosa!'

# como método "in" verificando se palavra a "Python" está contida na frase
palavra = 'Python' in texto
print(palavra) # seu retorno é uma resposta boolena - True ou False

True

In [ ]:
# outro exemplo - poema de Pablo Neruda

tenho_fome_de_tua_boca = '''
Tenho fome de tua boca, de tua voz, de teu pêlo
e por estas ruas me vou sem alimento, calado,
não me nutri o pão, a aurora me altera,
busco o som líquido de teus pés neste dia.

Estou faminto de teu riso resvalado,
de tuas mãos cor de furioso silo,
tenho fome da pálida pedra de tuas unhas,
quero comer teu pé como uma intacta amêndoa.

Quero comer o raio queimado em tua formosura,
o nariz soberano do arrogante rosto,
quero comer a sombra fugaz de tuas sobrancelhas.

E faminto venho e vou olfateando o crepúsculo
buscando-te, buscando teu coração quente
como uma puma na solidão de Quitratúe.
'''

tenho_fome_de_tua_boca

'\nTenho fome de tua boca, de tua voz, de teu pêlo\ne por estas ruas me vou sem alimento, calado,\nnão me nutri o pão, a aurora me altera,\nbusco o som líquido de teus pés neste dia.\n\nEstou faminto de teu riso resvalado,\nde tuas mãos cor de furioso silo,\ntenho fome da pálida pedra de tuas unhas,\nquero comer teu pé como uma intacta amêndoa.\n\nQuero comer o raio queimado em tua formosura,\no nariz soberano do arrogante rosto,\nquero comer a sombra fugaz de tuas sobrancelhas.\n\nE faminto venho e vou olfateando o crepúsculo\nbuscando-te, buscando teu coração quente\ncomo uma puma na solidão de Quitratúe.\n'

In [ ]:
palavra = 'de tuas mãos cor de furioso silo' in tenho_fome_de_tua_boca
print(palavra) # seu retorno é uma resposta boolena - True ou False

True

# **Aula 03 - Strings II**

## **Uso de operadores aritméticos com strings**

In [ ]:
# Dois operadores aritméticos possuem um comportamento especial em strings:
# Operador de soma (+): concatena (une) 2 strings.
palavra1 = 'Pyt'
palavra2 = 'hon'
palavra3 = ' é uma linguagem muito poderosa'
palavra4 ='!'
palavra5 = palavra1+palavra2 + palavra3+palavra4
print(palavra5)

Python é uma linguagem muito poderosa!

In [ ]:
# Operador de multiplicação (*): copia uma string 'n' vezes:
palavra = 'uma'
trespalavras = 3 * palavra
print(trespalavras)

umaumauma

## **Formatação de strings**

Uma última função interessante de strings é o .format() Para entender como ela funciona, podemos pensar em um contrato. É normal que ele venha com campos em branco para serem preenchidos posteriormente. Ex:

Eu, ______________, portador do RG ________________ e nascido ao dia //, autorizo o uso de minha imagem.

Ao inserirmos no contrato nossas informações pessoais, ele se torna completo.

O .format() serve para "preencher" os "campos em branco" de uma string.

Os campos em branco serão representados por pares de chave: {}

In [ ]:
prod = 'chocolate'
preco = 3.14
print('O produto {} custa {}.'.format(prod, preco))
# Na linha acima, prod substituirá o primeiro {}, e preco o segundo {}.
# Saída: O produto chocolate custa 3.14.

O produto chocolate custa 3.14.

In [ ]:
# É possível colocar algumas opções especiais de formatação. Por exemplo:

stringOriginal = 'O litro da gasolina custa {:.2f}'
'''
: indica que passaremos opções
.2 indica apenas 2 casas após o ponto decimal
f indica que é um float
'''
preco = 3.14159265
stringCompleta = stringOriginal.format(preco)
print(stringCompleta)
# Saída: O litro da gasolina custa 3.14
# O preço sai com apenas 2 casas após a vírgula!

O litro da gasolina custa 3.14

In [ ]:
# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))
# Saída: c, b and a

print('{0}{1}{0}'.format('abra', 'cad'))
# Saída: abracadabra

c, b and a
abracadabra

In [ ]:
# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço

1/8/2019

In [ ]:
data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

 1/ 8/2019

In [ ]:
# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

01/08/2019

In [ ]:
# Um modo mais simples de utilizar o format
nome = 'Fernando'
profissao = 'Ciência de Dados'
escola = "Let's Code"

print(f"{nome} está estudando {profissao} na escola {escola}.")
# Saída: Fernando está estudando Ciência de Dados na escola Let's Code.

Fernando está estudando Ciência de Dados na escola Let's Code.

O .format() possui muitas opções interessantes. 

Há um site inteiro dedicado a explicar e exemplificar todas essas opções: 
- https://pyformat.info/

## **Atividade prática (vídeo-aula)**

In [ ]:
# instanciando duas variáveis e atrubuindo um conjunto de caracteres
saudacao = 'Hello, '
nome = 'Fernando!'

# imprimindo a concatenação das variáveis "saudacao" e "nome"
print(saudacao + nome)

Hello, Fernando!

In [ ]:
# podemos utilizar o símbolo de multiplicação (*) para replicar uma string
# exemplo
print(nome * 8)

Fernando!Fernando!Fernando!Fernando!Fernando!Fernando!Fernando!Fernando!

In [ ]:
# concatenando várias informações em uma frase
nome = 'Fernando'
idade = 44
num_filhos = 2

print(nome + ' tem ' + str(idade) + ' anos' + ' e ' + str(num_filhos) + ' filhos.')

Fernando tem 44 anos e 2 filhos.

In [ ]:
print('{} tem {} anos e {} filhos.'.format(nome, idade, num_filhos))

Fernando tem 44 anos e 2 filhos.

In [ ]:
# para facilitar temos o método ".format()" que facilita a concatenção em uma frase
nome = 'Fernando'
data_nascimento = '13/10/1977'
cidade = 'Caçapava'
estado = 'SP'

print('{} nasceu em {} em {}-{}.'.format(nome, data_nascimento, cidade, estado))

Fernando nasceu em 13/10/1977 em Caçapava-SP.

In [ ]:
# imprimindo o valor de PI com duas casas decimais
# para isso utilizamos o método ":.2f"
valor_PI = 3.14159265359
print('O valor de PI é: {:.2f}'.format(valor_PI))

O valor de PI é: 3.14

In [ ]:
# podemos de forma mais simplificada podemos formatar a exibição de um texto com valores de variáveis
print(f'{nome} tem {idade} anos e {num_filhos} filhos.')

Fernando tem 44 anos e 2 filhos.

# **Aula 04 - Dicionários**

**Dicionários**

Um dicionário é uma coleção, assim como as listas e as tuplas. Porém, enquanto as tuplas eram indexadas por um índice, os dicionários são indexados por chaves. Todo elemento em um dicionário possui uma chave e um valor. Chaves tipicamente são strings, valores podem ser qualquer tipo de dado.

In [ ]:
# O dicionário é definido pelos símbolos { e }

dicionario = {}

# O dicionário não possui um "append".
# Adicionamos valores diretamente:

dicionario['cat'] = 'gato'
dicionario['dog'] = 'cachorro'
dicionario['mouse'] = 'rato'

print(dicionario)
print(type(dicionario))

# '''
# Saída:
# {'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
# <class 'dict'>
# '''

{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
<class 'dict'>

In [ ]:
# Dicionários, assim como as listas, são mutáveis:
dicionario['dog'] = 'cão'
print(dicionario)
# Saída: {'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

{'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

In [ ]:
# Podemos criar o dicionário diretamente também:
dicionario2 = {'Curso': 'Python Pro', 'Linguagem':'Python', 'Módulo':2}
print(dicionario2)
# Saída: {'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

{'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

In [ ]:
# Podemos utilizar o operador "in" para verificar se uma chave existe:
if 'cat' in dicionario:
    print('cat existe!') # Sim
if 'bird' in dicionario:
    print('bird existe!') # Não
if 'gato' in dicionario:
    print('gato existe!') # Não

'''
Também podemos utilizar as funções .keys() e .values() para obter listas
com apenas as chaves ou apenas os valores do dicionário.
'''
chaves = dicionario.keys()
print(chaves)
# Saída: dict_keys(['cat', 'dog', 'mouse'])

cat existe!
dict_keys(['cat', 'dog', 'mouse'])

In [ ]:
valores = dicionario.values()
print(valores)
# Saída:dict_values(['gato', 'cão', 'rato'])

dict_values(['gato', 'cão', 'rato'])

In [ ]:
# Já a função .items(), retorna uma lista de tuplas (chave, valor) de um dicionário

itens = dicionario.items()
print(itens)
# Saída:dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

## **Atividade prática (vídeo-aula)**

In [ ]:
# criando um dicionário
dados_pessoais = {
                   'Nome': 'Fernando',
                   'Data_nascimento': '13/10/1977',
                   'Cidade': 'Caçapava',
                   'Estado': 'SP'
}

dados_pessoais

{'Nome': 'Fernando',
 'Data_nascimento': '13/10/1977',
 'Cidade': 'Caçapava',
 'Estado': 'SP'}

In [ ]:
# verificando o tamanho e o tipo de estrutura de dado na variável "dados_pessoais"
print(len(dados_pessoais))
print(type(dados_pessoais))

4
<class 'dict'>

In [ ]:
# podemos acessar o nome das chaves e o valor repespectivo de cada uma
print(dados_pessoais.keys())
print(dados_pessoais.values())

dict_keys(['Nome', 'Data_nascimento', 'Cidade', 'Estado'])
dict_values(['Fernando', '13/10/1977', 'Caçapava', 'SP'])

In [ ]:
# podemos acessar tanto as chaves e os valores
print(dados_pessoais.items())

dict_items([('Nome', 'Fernando'), ('Data_nascimento', '13/10/1977'), ('Cidade', 'Caçapava'), ('Estado', 'SP')])

In [ ]:
# podemos também acessar o valor de uma chave específica
print(dados_pessoais['Nome'])
print(dados_pessoais['Cidade'], dados_pessoais['Estado'])

Fernando
Caçapava SP

In [ ]:
# também podemos utilizar o "in" em um dicionário
# seu retorno é um valor booleano
print('13/10/1977' in dados_pessoais)

False

In [ ]:
# podemos criar um dicionário vazio e inserido dados nele
contatos = {}

print(len(contatos))
print(type(contatos))

0
<class 'dict'>

In [ ]:
# para inserir dados no dicionário criado acima devemos instanciar a chave e o seu valor
contatos['Cliente'] = 'Fernando'

In [ ]:
# verificando o dicionário
contatos

{'Cliente': 'Fernando'}

In [ ]:
# vamos criar uma nova chave e instanciar seu valor
contatos['Telefone'] = '9 9999-xxxx'
contatos

{'Cliente': 'Fernando', 'Telefone': '9 9999-xxxx'}

In [ ]:
# sobreescrevendo o dicionário
contatos['Cliente'] = 'Kátia'
contatos['Telefone'] = '9 9999-xxxx'

contatos

{'Cliente': 'Kátia', 'Telefone': '9 9999-xxxx'}

# **Aula 05 - Estruturas de Repetição - For**

**Percorrendo coleções**

O for é um tipo especial de loop feito para percorrer elementos de uma coleção. Acima vimos exemplos usando um while e um contador para percorrer uma lista. O for elimina a necessidade de inicializarmos um contador, incrementarmos e verificar a condição de parada. Sintaxe:

    for (variável temporária) in (lista):
        # instruções...
        # ...

O for se repete uma vez para cada elemento da lista. A cada repetição, a variável temporária assume o valor de um elemento da lista, na ordem da lista.

In [ ]:
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

**Percorrendo sequências numéricas**

O for pode ser usado, junto com a função range(), para gerar sequências numéricas e contagens. Existem 3 meios de usar o range(): especificando 1, 2 ou 3 parâmetros.

In [ ]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)
    # este exemplo imprime os números de 0 a 9, de um em um

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

1
3
5
7
9
11
13
15
17
19

In [ ]:
# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

10
9
8
7
6
5
4
3
2
1

## **Atividade prática (vídeo-aula)**

In [ ]:
# utilizando o "for" em uma  lista de dados
# instanciando uma lista chamada de "nomes_cidades"
nomes_cidades = ['São Paulo', 'London', 
                 'Paris', 'Tokyo',
                 'Berlin', 'San Francisco']

In [ ]:
# utilizando o "for" para percorrer a lista criada acima
for nome in nomes_cidades:
    print(nome)

São Paulo
London
Paris
Tokyo
Berlin
San Francisco

In [ ]:
# para nível de comparação, fazer utilizar o "while"
contador = 0    # declarando um conatdor iniciando em zero (0)

# instanciando a lista
nomes_cidades = ['São Paulo', 'London', 
                 'Paris', 'Tokyo',
                 'Berlin', 'San Francisco']

# declarando o "while"
while contador < len(nomes_cidades):
    print(nomes_cidades[contador]) # imprimindo o contador
    contador = contador + 1        # iterando o contador com mais 1

São Paulo
London
Paris
Tokyo
Berlin
San Francisco

In [ ]:
# podemos utilizar o "for" em outras estruturas de dados
# instanciando uma tupla
nomes_cidades = 'São Paulo', 'London', 'Paris', 'Tokyo', 'Berlin', 'San Francisco'
# print(type(nomes_cidades))

for nome in nomes_cidades:
    print(nome)

São Paulo
London
Paris
Tokyo
Berlin
San Francisco

In [ ]:
# utilizando o "for" em um dicionário
dados_cidadeSP = {
                  'nome': 'São Paulo',
                  'estado': 'SP',
                  'populacao_milhoes': 12.3
}

for chave in dados_cidadeSP:
    print(f'{chave}: {dados_cidadeSP[chave]}')

nome: São Paulo
estado: SP
populacao_milhoes: 12.3

In [ ]:
# veja esse exemplo
nomes_cidades = ['São Paulo', 'London', 
                 'Paris', 'Tokyo',
                 'Berlin', 'San Francisco']

for nome in nomes_cidades:
    nome = 'Madri' # tentando atribuir um novo elemento a lista

# imprimindo a lista
print(nomes_cidades) # perceba que, não houve incremento na lista

['São Paulo', 'London', 'Paris', 'Tokyo', 'Berlin', 'San Francisco']

In [ ]:
# para resolver esse problema temos a função "range"
# que podemos passar o limite da posição

# vamos ver primeiro como funciona esse mapeamento das posições
for posicao in range(len(nomes_cidades)):
    print(posicao)

0
1
2
3
4
5

In [ ]:
# agora realizar a inserção de um novo elemento na lista
# iremos utilizar o método já conhecido do range
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Berlin'
print(nomes_cidades)

['Berlin', 'Berlin', 'Berlin', 'Berlin', 'Berlin', 'Berlin']

In [ ]:
# exemplos de utilização da função range
print(list(range(10)))      # lista de 0 até 10 (-1)
print(list(range(2,10)))    # lista iniciando em 2 de até 10 (-1)
print(list(range(0,10,3)))  # lista iniciando em 0 até 10 (-1) com passos de 3 em 3
print(list(range(5,21,5)))  # lista iniciando em 5 até 20 (-1) com passos de 5 em 5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9]
[5, 10, 15, 20]

# **Aula 06 - Funções I**

**Funções**

Funções são uma espécie de "subprograma". Elas são como pequenos pedacinhos de programa que podem ser chamadas pelo nome. Para criar uma função usamos o comando "def" e o nome da função. Elas são um bloco de comando assim como if/elif/else, while e for.

In [ ]:
# criando uma função 
def hello():
    print('Hello, World!')

In [ ]:
# chamando a função
hello()

Hello, World!

É possível passarmos informações para uma função. Chamamos essas informações de "parâmetros" ou "argumentos. Na definição da função, daremos nome a esses parâmetros. Dentro da função, eles serão tratados como se fossem variáveis.

In [ ]:
# exemplo de atribuição de informação numa função
def ola(nome):
    print('Olá,', nome+'!')

Ao chamarmos a nossa funcao, passamos os parâmetros entre parênteses. O nome ou valor passado não precisam ser iguais aos declarados na função! O nome do parâmetro interno da função é um "apelido" que a função dará para o valor ou variável que passamos.

In [ ]:
# chamando a função com argumento instanciado
ola('Fernando')

Olá, Fernando!

In [ ]:
# podemos também instanciar uma variável e atribuir um valor
# e na função passar com argumento a própria variável
aluno = 'Kátia'
ola(aluno)

Olá, Kátia!

A função pode receber vários parâmetros separados por vírgula.

In [ ]:
def dadosPessoais(nome, idade, cidade):
    print('Seu nome é {}, você tem {} anos e mora em {}.'.format(nome,
                                                                 idade, 
                                                                 cidade))

In [ ]:
dadosPessoais('Fernando', 44, 'Caçapava')

Seu nome é Fernando, você tem 44 anos e mora em Caçapava.

Os parâmetros podem ser passados fora de ordem. Porém, para isso precisamos explicitar qual parâmetro estamos passando, para evitar ambiguidade ou erros de interpretação do Python.

In [ ]:
dadosPessoais(idade=40, cidade='Taubaté', nome='Kátia')

Seu nome é Kátia, você tem 40 anos e mora em Taubaté.

**Funções com resposta**

Uma função pode ter uma "resposta". Por exemplo, nossa função pode ser uma conta, e o resultado da conta pode ser útil em nosso programa. Dizemos que essas funções "retornam" um valor. Utilizamos a palavra "return" para fazer uma função retornar sua resposta. Quando uma função retorna um valor, ela pode ser usada em expressões matemáticas ou lógicas, ter seu valor atribuído a uma variável, etc.

In [ ]:
# criando uma função de soma
def somatorio(lista):
    soma = 0
    for item in lista:
        soma = soma + item
    return soma

In [ ]:
# instancinado uma lista de números
numeros = [1, 2, 3, 4, 5]

In [ ]:
soma_dos_numeros = somatorio(numeros)

print('A soma dos elementos da lista é:', 
      soma_dos_numeros)

if somatorio(numeros) > 50:
    print('Que soma grande!')
else:
    print('Que soma pequena!')

# Saída:
# A soma dos elementos da lista vale:  15
# Que soma pequena!

A soma dos elementos da lista é: 15
Que soma pequena!

**Funções recursivas**

Algumas funções são chamadas funções recursivas. A recursividade (ou recursão) é uma propriedade na qual uma função faz referência a si mesma. Quando a função encontra uma nova referência, ela irá pausar sua execução atual e iniciar a execução da nova instância, para só então retomar sua execução.

Assim como nos loops, é necessário ter alguma condição para que as chamadas recursivas sejam interrompidas, evitando que executem para sempre.

In [ ]:
def funcaoRecursiva(numero):
    if numero != 1:
        funcaoRecursiva(numero - 1)
    print(numero)

print('Testando a função recursiva:\n')
funcaoRecursiva(10)

Testando a função recursiva:

1
2
3
4
5
6
7
8
9
10

Note que no exemplo acima passamos 10 para a função. Sua execução foi interrompida por uma nova chamada passando 9, depois 8, depois 7... Ao chegar em 1, ele foge da condicional e imprime 1, encerrando a execução. Então a instância que recebeu 2 tambem conclui sua execução, depois a chamada 3, a 4... A 10, que foi a 1a chamada, encerra por último.

Dizemos que é um comportamento de pilha - exatamente como uma pilha de pratos sobre a mesa: O primeiro prato que foi colocado sobre a mesa será o último a sair, pois todos os pratos colocados sobre ele precisam ser retirados antes de você poder retirar o último.

Problemas recursivos normalmente são problemas do tipo "dividir para conquistar": Temos um "caso base", ou seja, um ou mais casos onde há uma resposta direta; E temos um "caso geral", que é uma versão reduzida do problema original.

## **Atividade prática (vídeo-aula)**

In [ ]:
# função de saudação
def hello():
    print('Hello, World!')

In [ ]:
# chamando a função
hello()

Hello, World!

In [ ]:
# criando uma função para somar dois valores
def soma(x,y):
    resultado = x + y
    print(resultado)

In [ ]:
soma(5,3)

8

In [ ]:
# criando uma função para calcular a média
def calcular_media(valor1, valor2, valor3):
    media = (valor1 + valor2 + valor3) / 3
    return media

In [ ]:
# chamando a função e seus parâmetros
calcular_media(7.5, 8.0, 9.3)

8.266666666666667

In [ ]:
# podemos atribuir o resultado da função em uma variável
media_notas = calcular_media(7.5, 8.0, 9.3)
print(f'Média: {(media_notas):.2f}')

Média: 8.27

In [ ]:
# outro exemplo da utilização da função "calcular_media()"
# agora iremos passar como argumentos as notas dentro da função
resultado2 = calcular_media(valor1=6.75, valor2=7.5, valor3=8.0)
print(f'Média: {(resultado2):.2f}')

Média: 7.42

In [ ]:
# conhecendo melhor a função "print()"
print('Olá,')
print('Fernando!')

Olá,
Fernando!

In [ ]:
# utilizando o método "end= " para inibir a quebra de linha
print('Olá,', end=' ')
print('Fernando!')

Olá, Fernando!

In [ ]:
# chamando a função "calcular_media" e sem passar nenhum parâmetro
# perceba que teremos um erro
calcular_media()

TypeError: TypeError: calcular_media() missing 3 required positional arguments: 'valor1', 'valor2', and 'valor3'

In [ ]:
# para resolver esse problema podemos definir já no parâmetro da função valor default nos argumentos
# vamos refazer a função "calcular_media"
def calcular_media(nota1=0, nota2=0, nota3=0):
    return (nota1 + nota2 + nota3) / 3

In [ ]:
# chamando a função "calcular_media" e sem passar nenhum parâmetro
# agora perceba que teremos o retorno de um resultado (padrão definindo na função)
calcular_media()

0.0

In [ ]:
# utilizando a nova função e passando somente dois argumentos
# perceba que temos o retorno sem problemas
calcular_media(7.25, 5)

4.083333333333333

**Conhecendo mais sobre as funções**

In [ ]:
# função para somar dois números inteiros
def soma(x,y):
    res = x+y
    return res

In [ ]:
soma(5,-3)

2

In [ ]:
# função para subtrair dois números inteiros
def subtrai(x,y):
    return x-y

In [ ]:
subtrai(7,9)

-2

In [ ]:
# função para calcular um número real qualquer elevado a potência de 2
def potencia_2(x):
    return x ** 2

In [ ]:
potencia_2(2)

4

In [ ]:
potencia_2(-6)

36

In [ ]:
# função para calcular um número real qualquer elevado a potência dele mesmo
def potencia_x(x):
    return x ** x

In [ ]:
potencia_x(2)

4

In [ ]:
potencia_x(3)

27

In [ ]:
potencia_x(1.5)

1.8371173070873836

In [ ]:
# função para calcular a potençiação, conforme definição do usuário 
def pont_x():
    base = int (input('Digite o número da base: '))
    expoente = int (input('Digite o número do expoente: '))
    return float (base ** expoente)

In [ ]:
pont_x()

Digite o número da base:  3
Digite o número do expoente:  2

9.0

In [ ]:
# função para calcular a raiz quadrada
def raiz_quad(x):
    return float (x**0.5)

In [ ]:
raiz_quad(16)

4.0

In [ ]:
raiz_quad(9)

3.0

In [ ]:
raiz_quad(49)

7.0

In [ ]:
raiz_quad(225)

15.0

In [ ]:
# função para solicitar a digitação do nome e imprimir o resultado
def print_name():
    name = input('Digite seu nome: ')
    return name

In [ ]:
# chamando a função
print(print_name())

Digite seu nome:  Fernando
Fernando

In [ ]:
# função para imprimir nome, sobrenome e concatenando 
def personal_data():
    first_name = input('Digite seu nome: ')
    last_name = input('Digite seu sobrenome: ')
    return '{0} {1}'.format(first_name, last_name)

In [ ]:
print(personal_data())

Digite seu nome:  Fernando
Digite seu sobrenome:  Galvão
Fernando Galvão

In [ ]:
# melhorando a função acima
def personal_data():
    first_name = input('Digite seu nome: ')
    last_name = input('Digite seu sobrenome: ')
    age = int (input('Digite sua idade: '))
    print('\n\t\tDADOS PESSOAIS')
    return f"\tNome completo: {first_name + ' ' + last_name} \n\tIdade: {age}"

In [ ]:
print(personal_data())

Digite seu nome:  Fernando
Digite seu sobrenome:  Galvão
Digite sua idade:  44

		DADOS PESSOAIS
	Nome completo: Fernando Galvão
	Idade: 44

In [ ]:
# função para calcular reajuste de salário
def reajuste_salario(x):
    valor_final = x * 0.15
    return valor_final + x

In [ ]:
reajuste_salario(100)

115.0

In [ ]:
# função para calcular reajuste de salário
def reajuste_salario():
    x = float (input('Digite o valor atual do salário: '))
    valor_final = float (x * 0.15)
    return f'Salário reajustado: {valor_final + x}'

In [ ]:
print(reajuste_salario())

Digite o valor atual do salário:  3600
Salário reajustado: 4140.0

In [ ]:
# função para calcular reajuste de salário
def reajuste_salario():
    sal_atual = float (input('Digite o valor atual do salário: '))
    valor_reajuste = float (input('Digite o valor do reajuste [%]: '))
    valor_final = float (sal_atual * (valor_reajuste / 100))
    return f'Salário reajustado: {valor_final + sal_atual}'

In [ ]:
print(reajuste_salario())

Digite o valor atual do salário:  3600
Digite o valor do reajuste [%]:  5
Salário reajustado: 3780.0

# **Aula 07 - Funções II**

**Agrupando parâmetros**

Podemos utilizar o operador * - que, neste caso, não será uma multiplicação. Ao colocarmos o * ao lado do nome de um parâmetro na definição da função, estamos dizendo que aquele argumento será uma coleção. Mais especificamente, uma tupla. Porém, o usuário não irá passar uma tupla. Ele irá passar quantos argumentos ele quiser, e o Python automaticamente criará uma tupla com eles:

In [ ]:
def piscina(*infos):
    vol = infos[0]*infos[1]*infos[2]
    return vol

volume = piscina(5, 4, 5)
print('O volume é:', volume)

O volume é: 100

Podemos utilizar o operador * na chamada da função também. Na definição, o operador * indica que devemos agrupar itens avulsos em uma coleção. Na chamada, ele indica que uma coleção deve ser expandida em itens avulsos:

In [ ]:
def piscina(prof, largura, comprimento):
    vol = prof*largura*comprimento
    return vol

lista = [5, 4, 5]

volume = piscina(*lista)
print('O volume é:', volume)

O volume é: 100

**Parâmetros opcionais**

Outra possibilidade são funções com parâmetros opcionais. Note que isso é diferente de termos quantidade variável de parâmetros. No caso da quantidade variável, normalmente são diversos parâmetros com a mesma utilidade (números a serem somados, valores a serem exibidos etc), enquanto os parâmetros opcionais são informações distintas que podem ou não ser passadas para a função.

Para criar parâmetros opcionais, usaremos **, e os parâmetros passados serão agrupados em um dicionário: o nome do parâmetro será uma chave, e o valor será... O valor.

In [ ]:
def piscina(prof, **infos):
    vol = prof*infos['largura']*infos['comprimento']
    return vol

volume = piscina(5, largura=4, comprimento=5)
print('O volume é:', volume)

O volume é: 100

Analogamente ao caso dos parâmetros múltiplos, é possível que o usuário da função já tenha os dados organizados em um dicionário. Neste caso, basta usar ** na chamada da função para expandir o dicionário em vários parâmetros opcionais:

In [ ]:
def piscina(prof, largura=4, comprimento=5):
    vol = prof*largura*comprimento
    return vol

infos = {'largura': 10, 'comprimento': 20}
volume = piscina(5, **infos)
print('O volume é:', volume)

O volume é: 1000

## **Atividade prática (vídeo-aula)**

In [ ]:
# criando uma função que recebe parâmetros conforme definição do usuário
# redefinindo a função "calacular_media"

def calcular_media(*args):
    print(args, type(args))

In [ ]:
# chamando a função com parâmetros
calcular_media(10, 8, 9)

(10, 8, 9) <class 'tuple'>

In [ ]:
# redefinindo a função 
def calcular_media(*args):
    soma = sum(args)
    media = soma / len(args)
    return media

In [ ]:
calcular_media(10, 8, 9)

9.0

In [ ]:
# simplificando a função
def calcular_media(*notas):
    return sum(notas) / len(notas)

In [ ]:
calcular_media(7.5, 8.25, 9.0)

8.25

In [ ]:
calcular_media(7.5, 8.25, 9.0, 0)

6.1875

In [ ]:
# definindo uma função para calcular a média de notas
# e acrescido de pontos extra
def calcular_media(*args, ponto_extra):
    return (sum(args) / len(args)) + ponto_extra

In [ ]:
calcular_media(7.5, 8.25, 9.0, 0, ponto_extra=0.5)

6.6875

In [ ]:
# definindo uma função para calcular a média de notas
# e acrescido de pontos extra
def calcular_media(*args, ponto_extra=0.5):
    return (sum(args) / len(args)) + ponto_extra

In [ ]:
calcular_media(7.5, 8.25, 9.0, 0)

6.6875

Conhecendo outro método de uma função, o "kwargs".

    - essa técnica é muito utilizada em Ciência de Dados e Visualização de Dados com Python

****kwargs**

Como a abreviação sugere, kwargs significa keyword arguments (argumentos de palavras chave). Ele permite passar um dicionário com inúmeras keys para a função. Como vimos acima no output da função usando ** podemos notar que o tipo do argumento é passado como dicionário com chaves e valores.

In [ ]:
# definindo uma função
def print_info(**kwargs):
    print(kwargs, type(kwargs))

In [ ]:
# chamando a função
print_info(nome='Fernando', sobrenome='Galvão')

{'nome': 'Fernando', 'sobrenome': 'Galvão'} <class 'dict'>

**Conhecendo mais!**

In [ ]:
def func_args(*args):
    print(f'tipo: {type(args)} conteúdo: {args}')
    for arg in args:
        print(f'tipo: {type(arg)} conteúdo: {arg}')

In [ ]:
func_args(1, 'A', {'valor': 10})

tipo: <class 'tuple'> conteúdo: (1, 'A', {'valor': 10})
tipo: <class 'int'> conteúdo: 1
tipo: <class 'str'> conteúdo: A
tipo: <class 'dict'> conteúdo: {'valor': 10}

No exemplo acima temos uma função que recebe um parâmetro do tipo *args com alguns argumentos e escreve no terminal o tipo e o conteúdo, junto com o tipo e conteúdo de cada argumento da tupla.

In [ ]:
def func_kwargs(**kwargs):
    print(f'tipo: {type(kwargs)} contuedo: {kwargs}')
    for key, value in kwargs.items():
        print(f'atributo: {key}, valor: {value}')

func_kwargs(nome='James', sobrenome='Bond', cargo='Agente 007')

tipo: <class 'dict'> contuedo: {'nome': 'James', 'sobrenome': 'Bond', 'cargo': 'Agente 007'}
atributo: nome, valor: James
atributo: sobrenome, valor: Bond
atributo: cargo, valor: Agente 007

Como vimos acima no output da função usando ** podemos notar que o tipo do argumento é passado como dicionário com chaves e valores.

Outra forma de passar um dicionário já existente é usando os ** na passagem do parâmetro:

    parms = {
            'nome': 'James', 
            'sobrenome': 'Bond', 
            'cargo': 'Agente 007'
            }
    func_kwargs(**parms)

In [ ]:
def func_missao_dificil(nome, *args, funcao='agente', **kwargs):
    print(f'Nome do agente: {nome}')
    print(f'Função: {funcao}')
    print(args)
    print(kwargs)

params = {
            'id_agente': '007',
            'proxima_missao': 'Impossível'
         }

func_missao_dificil(
    'James Bond',
    'Missao 1',
    'Missão 2',
    **params
)

Nome do agente: James Bond
Função: agente
('Missao 1', 'Missão 2')
{'id_agente': '007', 'proxima_missao': 'Impossível'}

No exemplo acima, usamos todos os recursos mencionados no post:
- O parâmetro nome recebe o valor “James Bond”;
- O parâmetro função utilizou o valor “agente” definido como default;
- O parâmetro args recebeu os valores “Missao 1” e “Missao 2” como tupla;
- O parâmetro kwargs recebeu dois parâmetros nomeados como dicionário: {‘id_agente’: ‘007’, ‘proxima_missao’: ‘Impossível’}

Esse recurso muito interessante da linguagem Python.